streamlit~=1.41.0
panda>=0.3
streamlit-authenticator>=0.4
streamlit_pdf_viewer>=0.0.21

# full app
langchain-chroma~=0.2.1
langchain-core~=0.3.33
langchain_experimental~=0.3.0
langchain-ollama~=0.2.0
uuid>=1.0
chromadb==0.6.3
langchain_community~=0.3.16
environ_config~=24.1
inquirer~=3.4.0
sentence_transformers~=3.4
PyMuPDF~=1.25
unstructured[pdf]~=0.16
pymongo~=4.11.0
openparse~=0.7.0
pdfminer.six==20231228